.dataTables_length {
    label {
        select {
            margin: 0 8px;
            padding: 3px;
        }
    }
}
.dataTables_filter {
    input {
        padding: 0 10px;
    }
}
.dataTables_wrapper {
	.dataTables_paginate {
		span {
			.paginate_button {
				&.current {
                    padding: 0 10px;
                    color: $dark !important;
				}
			}
		}
    }
    .dataTables_info {
		padding-top: 20px !important;
    }
    .dataTables_paginate {
        padding-top: 15px !important;
    }
    .dataTables_filter {
        margin-bottom: 20px;
    }
}
.data-table {
    .badge {
        padding: 8px 10px;
    }
}