.table {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;
    color: $titletext;

    &.table-dark {
        th {
            border-color: $body-title;
            color: $white;
        }
        td {
            border-color: $body-title;
            color: $white;
        }
    }
    span, p{
        color: $bodytext;
    }
    .ligth {
        white-space: nowrap;
        th {
            padding: 15px 20px !important;
            text-transform: capitalize;
            font-size: 17px;
            line-height: 22px;
            background: $light-gray;
            color: $body-title;
            border: 0px;
            font-weight: 700 !important;           
        }
        &.ligth-data {
            th {
                &:first-child {
                    text-align: center;
                    background-image: none;
                }
                &:last-child {
                    background-image: none;
                    text-align: center;
                }
            }
        }
    }
    .ligth-body {
        tr {    
            td {  
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                }
            }  
        }
        .list-action {
            justify-content: center;
        }
    }
    td {
        padding: 15px 20px !important;
        border: 0px;
        border-bottom: 1px solid $border-color;
        color: $body-title;

        
    }
    label {
        color: $body-title;
    }
}

.btn {
    &.add-list {
        padding: 0.5rem 1rem;
    }
}